In [110]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

gender_dataset = pd.read_csv('titanic/gender_submission.csv')
test_dataset = pd.read_csv('titanic/test.csv')
train_dataset = pd.read_csv('titanic/train.csv')

In [132]:
train_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareQCut
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,0,NaN,S,"(-0.001, 7.91]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,3,C85,C,"(31.0, 512.329]"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,1,NaN,S,"(7.91, 14.454]"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,3,C123,S,"(31.0, 512.329]"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,1,NaN,S,"(7.91, 14.454]"

In [111]:
train_dataset['FareQCut'] = pd.qcut(train_dataset['Fare'], 4)
train_dataset[['FareQCut', 'Survived']].groupby(['FareQCut'], as_index=False).mean()

          FareQCut  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [133]:
x_values = train_dataset.iloc[:,[2, 4, 5, 6, 7, 9, 11]]
train_dataset.loc[ train_dataset['Fare'] <= 7.91, 'Fare'] = 0
train_dataset.loc[(train_dataset['Fare'] > 7.91) & (train_dataset['Fare'] <= 14.454), 'Fare'] = 1
train_dataset.loc[(train_dataset['Fare'] > 14.454) & (train_dataset['Fare'] <= 31), 'Fare']   = 2
train_dataset.loc[ train_dataset['Fare'] > 31, 'Fare'] = 3
train_dataset['Fare'] = train_dataset['Fare'].astype(int)
x_values.loc[x_values['Sex'] == 'male', 'Sex'] = 1
x_values.loc[x_values['Sex'] == 'female', 'Sex'] = 0
x_values['Sex'] = x_values['Sex'].astype(int)
x_values['Age'] = x_values['Age'].fillna(x_values['Age'].mean())
x_values['Embarked'] = x_values['Embarked'].map({'C': 0, 'Q': 1, 'S': 2, np.nan: 2}).astype(int)

C:\Users\hell-admin\PycharmProjects\deeplearning2\venv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-133-5a4c483e4a44>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_values['Sex'] = x_values['Sex'].astype(int)
<ipython-input-133-5a4c483e4a44>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_values['Age'] = x_values['Age'].fillna(x_values['Age'].mean())
<ipython-input-133-5a4c483e4a44>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_values['Embarked'] = x_values['Embarked'].map({'C': 0, 'Q': 1, 'S': 2, np.nan: 2}).astype(int)

In [134]:
x_values.head()

   Pclass  Sex   Age  SibSp  Parch  Fare  Embarked
0       3    1  22.0      1      0     0         2
1       1    0  38.0      1      0     3         0
2       3    0  26.0      0      0     1         2
3       1    0  35.0      1      0     3         2
4       3    1  35.0      0      0     1         2

In [115]:
y_values = train_dataset.iloc[:, 1]

In [126]:
testx = test_dataset.iloc[:, [1, 3, 4, 5, 6, 8, 10]]
testx['Fare'].fillna(testx['Fare'].dropna().median(), inplace=True)
testx.loc[ testx['Fare'] <= 7.91, 'Fare'] = 0
testx.loc[(testx['Fare'] > 7.91) & (testx['Fare'] <= 14.454), 'Fare'] = 1
testx.loc[(testx['Fare'] > 14.454) & (testx['Fare'] <= 31), 'Fare']   = 2
testx.loc[ testx['Fare'] > 31, 'Fare'] = 3
testx['Fare'] = testx['Fare'].astype(int)

C:\Users\hell-admin\PycharmProjects\deeplearning2\venv\lib\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\hell-admin\PycharmProjects\deeplearning2\venv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\hell-admin\PycharmProjects\deeplearning2\venv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\hell-admin\PycharmProjects\deeplearning2\venv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\hell-admin\PycharmProjects\deeplearning2\venv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-126-1fb22497dc69>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testx['Fare'] = testx['Fare'].astype(int)

In [127]:
testx['Age'] = testx['Age'].fillna(testx['Age'].mean())
testx.loc[testx['Sex'] == 'male', 'Sex'] = 1
testx.loc[testx['Sex'] == 'female', 'Sex'] = 0
testx['Sex'] = testx['Sex'].astype(int)
testx['Embarked'] = testx['Embarked'].map({'C': 0, 'Q': 1, 'S': 2, np.nan: 2}).astype(int)

<ipython-input-127-e59949154aa4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testx['Age'] = testx['Age'].fillna(testx['Age'].mean())
<ipython-input-127-e59949154aa4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testx['Sex'] = testx['Sex'].astype(int)
<ipython-input-127-e59949154aa4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testx['Embarked'] = testx['Embarked'].map({'C': 0, 'Q': 1, 'S': 2, np.nan: 2}).astype(int)

In [129]:
testx.head()

   Pclass  Sex   Age  SibSp  Parch  Fare  Embarked
0       3    1  34.5      0      0     0         1
1       3    0  47.0      1      0     0         2
2       2    1  62.0      0      0     1         1
3       3    1  27.0      0      0     1         2
4       3    0  22.0      1      1     1         2

In [135]:
#Logistic Regression
logreg = LogisticRegression()
logreg.fit(x_values, y_values)
log_prediction = logreg.predict(testx)
acc_log = round(logreg.score(x_values, y_values) * 100, 2)

#k-Nearest Neighbors
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(x_values, y_values)
knn_prediction = knn.predict(testx)
acc_knn = round(knn.score(x_values, y_values) * 100, 2)

#Decision Trees
decision_tree = DecisionTreeClassifier()
decision_tree.fit(x_values, y_values)
dt_prediction = decision_tree.predict(testx)
acc_decision_tree = round(decision_tree.score(x_values, y_values) * 100, 2)

#Support Vector Machine
svc = SVC()
svc.fit(x_values, y_values)
svc_prediction = svc.predict(testx)
acc_svc = round(svc.score(x_values, y_values) * 100, 2)

#Naive Bayes
gaussian = GaussianNB()
gaussian.fit(x_values, y_values)
gaussian_prediction = gaussian.predict(testx)
acc_gaussian = round(gaussian.score(x_values, y_values) * 100, 2)

In [136]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression','Naive Bayes',
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_gaussian, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                     Model  Score
4            Decision Tree  95.17
1                      KNN  88.55
2      Logistic Regression  80.02
3              Naive Bayes  75.65
0  Support Vector Machines  68.80

In [138]:
df = pd.DataFrame()
df['PassengerId'] = test_dataset['PassengerId']
df['Survived'] = dt_prediction

In [139]:
df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         1
4          896         1

In [140]:
df.to_csv('entry5.csv', index=False)